<div class="container h-100">
	<div class="row">
		<div class="col-4 bg-info">
			text
		</div>
		<div class="col-4 bg-info">
			text
		</div>
		<div class="col-4 bg-info">
			text
		</div>
	</div>
</div>