@model List<Lawyer.Models.AskModel>
@{
	ViewBag.Title = "Список вопросов";
}
<body class="text-justify">
	<div class="container">


		@foreach (var post in Model)
		{
			string postUrl = Url.Action("showanswer", "ask", new RouteValueDictionary(new { slug = post.Slug }), Request.Url.Scheme, Request.Url.Host);

			<p class="lead">
				@post.Title
				<br>
				<a href="/ask/showanswer/@post.Slug" class="card-link">Перейти к вопросу </a>
			</p> <br>
		}
	</div>
</body>
